<h3 mat-dialog-title>Rate {{ data.album.artist }} - {{ data.album.title }}</h3>
<mat-dialog-content>
  <p>How would you rate the album?</p>
  <mat-form-field appearance="outline">
    <mat-label>Rate</mat-label>
    <input matInput type="number" min="1" max="5" [(ngModel)]="rate"/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton mat-dialog-close cdkFocusInitial>Discard</button>
  <button mat-flat-button color="primary" (click)="onRateClick()">Rate</button>
</mat-dialog-actions>