@if (loading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<div id="controls">
    <mat-form-field appearance="outline" id="search-field">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Artist or album title" [formField]="searchForm" />
    <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    @if (filteredCounts(); as count) {
    <div class="counts">
    <strong>Total:</strong> {{ count.total }} • <strong>Active:</strong> {{ count.unrated }} •
    <strong>Completed:</strong> {{ count.rated }}
    </div>
    }
</div>

<h3>Listening</h3>
<div role="list">
        @for (album of filteredListening(); track album.id) {
            <div class="list-item" role="listitem">
                <div class="title">
                    {{ album.artist }} - {{ album.title }}
                    <div class="sub">Released on {{ album.releaseDate | date : 'mediumDate' }}</div>
                </div>

                <button mat-icon-button color="accent" aria-label="Rate" matTooltip="Rate" (click)="openRateDialog(album)">
                    <mat-icon>star</mat-icon>
                </button>

                <button mat-icon-button color="warn" aria-label="Delete" matTooltip="Delete" (click)="openRemoveDialog(album)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
    }
</div>

<mat-divider></mat-divider>

<h3>Rated</h3>
<div role="list">
    @for (album of filteredRated(); track album.id) {
        <div class="list-item" role="listitem">

            <div class="rated title">
                <div>
                    <span>{{ album.artist }} - {{ album.title }}</span>
                    <div class="sub">Released on {{ album.releaseDate | date : 'mediumDate' }}</div>
                </div>
                <div matTooltip="Rated {{ album.rating }}/5">
                    @for (rating of album.rating | range; track $index) {
                        <mat-icon color="primary">star</mat-icon>
                    }
                </div>
            </div>

            <button mat-icon-button color="warn" aria-label="Delete" matTooltip="Delete" (click)="openRemoveDialog(album)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    }
</div>