<h3 mat-dialog-title>Add New Album</h3>

<mat-dialog-content>
  <p>Please fill in all the following fields</p>
  <div id="forms-container">
    <mat-form-field appearance="outline">
      <mat-label>Artist</mat-label>
      <input matInput [formField]="form.artist" />
      @if (form.artist().invalid() && (form.artist().dirty() || form.artist().touched())) {
      <mat-error>
        @for (error of form.artist().errors(); track error.kind) {
        <span>{{ error.message }}</span>
        }
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput [formField]="form.title" />
      @if (form.title().invalid() && (form.title().dirty() || form.title().touched())) {
      <mat-error>
        @for (error of form.title().errors(); track error.kind) {
        <span>{{ error.message }}</span>
        }
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Release Date</mat-label>
      <input matInput [matDatepicker]="picker" [formField]="form.releaseDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button matButton mat-dialog-close cdkFocusInitial>Discard</button>
  <button mat-flat-button color="primary" (click)="onAddClick()" [disabled]="form().invalid()">Add</button>
</mat-dialog-actions>